.feed-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.toolbar {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  align-items: baseline;
}
.tags {
  margin-top: 12px;
}
.post-body {
  font-size: 1.1em;
}

::ng-deep .spoiler-text {
  background-color: #333;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 4px;
  transition:
    background-color 0.3s,
    color 0.3s;
  &.revealed {
    background-color: transparent;
    color: inherit;
  }
}
